  .navbar-mobile{
    display: block;
  }

  .icon-burger{
    display: inline;
  }

  .burger-container{
    background-color: dimgray;
    width: 3rem;
    height: 2.5;
    border-radius: 5px;
    margin-left: 2rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-burger{
    height: 2.2rem;
    width: 2.2rem;
    color: white;
  }
  
  .navbar-mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: 5rem;
    width: 100%;
  }


  @media (max-width: 768px){
    .tags-a{
      color: black;
      padding: .5rem;
      display: inline-block;
      font-size: 1.1rem;

    }

    li{
      list-style: none;
      display: inline-block;
      display: flex;
      flex-direction: row;
    }
  }



/* ----------------------------------------------- */
/* Display none-min */
/* @media (min-width: 768px){
  .tags-a{
    display: none;
  }
} */

@media (min-width: 768px){
  .icon-burger{
    display: none;
  }
}