 .img-taxi{
    height: 30rem;
    position: relative;
  }
  
  .firstContainer-yellow{
    height: 19rem;
    width: 18rem;
    background-color: #f7b617;
    position: absolute;
    margin-top: 4rem;
  }
  
  .container-imgtaxi-div{
    display: flex;
    flex-direction: row-reverse;
  }
  
  .container-p-initial{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  
  .btn-download{
    color: black;
    background-color: mintcream;
    height: 2.5rem;
    width: 9rem;
    border-radius: 7px;
    font-size: 1rem;
  }
